{
  "rtmp-server": {
    "port": 1935,
    "certfile": "/opt/ssl/certfile",
    "keyfile": "/opt/ssl/keyfile"
  },

  "mediasoup": {
    "name": "media-server",
    "ws" : "wss://mediasoup:3000",
    "origin": "localhost"
  },

  "streamers": [
    {
      "streamKey": "sample-streamer-key",
      "video": {
        "codec": {
          "mimeType": "video/h264",
          "payloadType": 96,
          "clockRate": 90000
        }
      },
      "audio": {
        "codec": {
          "mimeType": "audio/opus",
          "payloadType": 100,
          "clockRate": 48000,
          "channels": 2,
          "parameters": {
            "sprop-stereo": 1
          }
        }
      }
    }
  ]
}